/**********************************************
          General
***********************************************/

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Oswald', sans-serif;
}


/**********************************************
          main
***********************************************/

.main-title-curtain {
  font-size: 80px;
  color: white;
  text-align: center;
  margin-top: 300px;
  font-family: 'Satisfy', cursive;
  line-height: 1.2;
  transform: rotate(-6deg);
  text-shadow: 2px 2px 8px yellow;
}

.main-title {
  font-size: 52px;
  color: red;
  color: #666666;
  text-align: center;
  margin-top: 10px;
  font-family: 'Satisfy', cursive;
  line-height: 1.2;
  transform: rotate(-6deg);
  text-shadow: 0px 2px 3px blue;
}

.curtain-container  {
  width: 100%;
  height: 100%;
  background: red;
  top: -2000px;
  position: absolute;
  overflow: hidden;
  z-index: 1000;
  animation-name: curtainRise;
  animation-duration: 4s;
  background-image: url('../assets/red-curtain.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes curtainRise {
  0% {top: 0px;}
  40% {top: 0px;}
  100% {top: -2000px;}
}

.background-video-container  {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  z-index: -1000;
}

.background-video  {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.main-spacer  {
  width: 100%;
  height: 100px;
}

.main-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  position: relative;
  border: solid 4px #666666;
  box-shadow: 0px 0px 20px white;
  border-radius: 10px;
  opacity: 1;
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  0% {opacity: 0;}
  70% {opacity: 0;}
  100% {opacity: 1;}
}

.red-shadow {
    box-shadow: 0px 0px 20px red;
}

.green-shadow {
    box-shadow: 0px 0px 20px green;
}

.main-background  {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
  opacity: .88;
  z-index: -1;
}

.controls {
  width: 320px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  width: 300px;
  height: 30px;
  display: block;
  margin: 10px;
  font-size: 16px;
  border: solid 1px #666666;
  border-radius: 4px;
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 10px green;
}

input:hover {
  cursor: pointer;
}

.button  {
  width: 300px;
  height: 30px;
  margin: 10px;
  background: #666666;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px green;
}

.response-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.token-response {
  color: #666666;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}

.token-container  {
  width: 300px;
  min-height: 30px;
  font-size: 14px;
  margin: auto;
  margin-top: 10px;
  border: solid 1px #666666;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
}

.response {
  width: 290px;
  height: 130px;
  font-size: 14px;
  border: none;
  resize: none;
  margin-top: 2px;
}

.admin-response {
  font-size: 18px;
  color: green;
}

.red  {
  color: red;
}


/***************************************
media query 575
****************************************/

@media screen and (max-width: 575px) {

  .main-title-curtain {
    font-size: 52px;
  }

}


/***************************************
media query 400
****************************************/

@media screen and (max-width: 400px) {

  .main-container {
    width: 300px;
  }

  .main-title {
    font-size: 44px;
  }

  .controls {
    width: 250px;
  }

  input {
    width: 260px;
  }

  .button {
    width: 260px;
  }

  .token-container  {
    width: 260px;
  }

  .response {
    width: 248px;
  }

  .main-spacer  {
    height: 10px;
  }

  .main-title-curtain {
    font-size: 40px;
    margin-top: 150px;
  }

}
